body{
    overflow: hidden;
}
.topicListPanel{
    height: 700px;
    width: 180px;
    overflow-y:scroll;
    background-color: #01AAED;
}
.topicImg{
     height: 50px;
     width: 50px;
     border-radius:25px;
    background-color: #393D49;
    float:left;
    margin-left: 20px;
    margin-top: 15px;
 }
.topicNumber {
    margin-top: 15px;
    text-align: center;
}
.topicPanel {
    height: 400px;
    width: 500px;
    background-color: #2F4056;
    margin-top: 100px;
    margin-right: 500px;
    float: right;
    border-radius: 15px;
    padding: 15px;
}
.topicPanelBody {
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}
.topicButtonPanel {
    width: 1352px;
    height: 90px;
    position: absolute;
    top: 630px;
    right: 0px;
}